body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #F0F2F5 !important; 
	background:  rgba(0, 0, 0, 0.85);
  }
  
  code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	  monospace;
  }

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	transform: scale(1.1);
}

.image-container:hover .favourite {
	opacity: 1;
	cursor: pointer;
}

.favourite {
	position: absolute;
	background: #ffffff00;
	width: 80%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 4px;
	font-size: 20px;
	padding: 0px;
	text-align: right;
}

.site-card-border-less-wrapper {
	padding-top: 0px !important;
	background: #ffffff;
  }

.search-row {
	margin-top: 10px;
}

.movie-list-heading {
	margin-top: 20px;
	font-size: 18px;
	text-align: center;
}

.the-banner {
	background-color: #ff0066;
}

.ant-modal-body {
	visibility: hidden;
	display: none;
}